[submodule "sites/all/modules/sassy"]
	path = sites/all/modules/sassy
	url = http://git.drupal.org/project/sassy.git
[submodule "sites/genderisatextfield.com"]
	path = sites/genderisatextfield.com
	url = git@github.com:qemistry/Gender-is-a-textfield.git
[submodule "sites/learningviolin.qemistry.us"]
	path = sites/learningviolin.qemistry.us
	url = git@github.com:qemistry/learningviolin.git
[submodule "sites/all/modules/block_class"]
	path = sites/all/modules/block_class
	url = http://git.drupal.org/project/block_class.git
[submodule "sites/all/libraries/plupload"]
	path = sites/all/libraries/plupload
	url = https://github.com/moxiecode/plupload.git
[submodule "sites/all/libraries/tinymce"]
	path = sites/all/libraries/tinymce
	url = https://github.com/tinymce/tinymce.git
[submodule "sites/all/libraries/jquery-mobile"]
	path = sites/all/libraries/jquery-mobile
	url = https://github.com/jquery/jquery-mobile.git
[submodule "sites/all/modules/context"]
	path = sites/all/modules/context
	url = http://git.drupal.org/project/context.git
[submodule "sites/all/modules/admin_menu"]
	path = sites/all/modules/admin_menu
	url = http://git.drupal.org/project/admin_menu.git
[submodule "sites/all/modules/contextual_flyout_links"]
	path = sites/all/modules/contextual_flyout_links
	url = jessebeach@git.drupal.org:project/contextual-flyout-links.git
[submodule "sites/all/modules/ctools"]
	path = sites/all/modules/ctools
	url = http://git.drupal.org/project/ctools.git
[submodule "sites/all/modules/date"]
	path = sites/all/modules/date
	url = http://git.drupal.org/project/date.git
[submodule "sites/all/modules/delta"]
	path = sites/all/modules/delta
	url = http://git.drupal.org/project/delta.git
[submodule "sites/all/modules/devel"]
	path = sites/all/modules/devel
	url = http://git.drupal.org/project/devel.git
[submodule "sites/all/modules/entity"]
	path = sites/all/modules/entity
	url = http://git.drupal.org/project/entity.git
[submodule "sites/all/modules/examples"]
	path = sites/all/modules/examples
	url = http://git.drupal.org/project/examples.git
[submodule "sites/all/modules/features"]
	path = sites/all/modules/features
	url = http://git.drupal.org/project/features.git
[submodule "sites/all/modules/file_entity"]
	path = sites/all/modules/file_entity
	url = http://git.drupal.org/project/file_entity.git
[submodule "sites/all/themes/omega"]
	path = sites/all/themes/omega
	url = http://git.drupal.org/project/omega.git
[submodule "sites/all/modules/media"]
	path = sites/all/modules/media
	url = http://git.drupal.org/project/media.git
[submodule "sites/all/modules/mobile_tools"]
	path = sites/all/modules/mobile_tools
	url = http://git.drupal.org/project/mobile_tools.git
