[submodule "sites/all/modules/sassy"]
	path = sites/all/modules/sassy
	url = http://git.drupal.org/project/sassy.git
[submodule "sites/genderisatextfield.com"]
	path = sites/genderisatextfield.com
	url = git@github.com:qemistry/Gender-is-a-textfield.git
[submodule "sites/learningviolin.qemistry.us"]
	path = sites/learningviolin.qemistry.us
	url = git@github.com:qemistry/learningviolin.git
[submodule "sites/all/modules/block_class"]
	path = sites/all/modules/block_class
	url = http://git.drupal.org/project/block_class.git
[submodule "sites/all/libraries/plupload"]
	path = sites/all/libraries/plupload
	url = https://github.com/moxiecode/plupload.git
[submodule "sites/all/libraries/tinymce"]
	path = sites/all/libraries/tinymce
	url = https://github.com/tinymce/tinymce.git
[submodule "sites/all/libraries/jquery-mobile"]
	path = sites/all/libraries/jquery-mobile
	url = https://github.com/jquery/jquery-mobile.git
